<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/bootstrapvalidator-master/vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrapvalidator-master/dist/css/bootstrapValidator.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleZhang.css"/>
    <!--<link rel="stylesheet" href="/stylesheets/styleZhang.css">-->
    <script src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrapvalidator-master/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bootstrapvalidator-master/dist/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="/javascripts/DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="/yidong/js/jQuery.print.js"></script>
  </head>
  <body>
   <form method="post" action="/stu/panupdates" id="form1" class="form-horizontal">
   	<input type="hidden" name="pgid" >
   <div class="panel panel-primary" style="margin:20px; height:630px">
		<div class="panel-heading" style="height:60px; background-image:url(/yidong/images/bg6.png)">
      <img style="float:left" src="/yidong/images/hd3.png"><h3 class="panel-title" style=" float:left; margin-left:20px; font-family:微软雅黑; font-size:18px; margin-top:10px;">木兰县防疫站疫苗采购信息</h3>
    	<button type="button"  id="dayin" onclick="yin()"  class="btn btn-primary">打印疫苗运输记录表</button>
		</div>
		<div class="panel-body" style="background: #C0CEF2;" >
			<table class="table tablewidth width8" id="yinS">
			  <!--<caption>上下文表格布局</caption>-->
			  <thead>
			    <tr>
			      <!--<th>产品</th>
			      <th>付款日期</th>
			      <th>状态</th></tr>-->
			  </thead>
			  <tbody class="taborder">
			    <tr class="active">
			      <td>入库单号</td>
			      <td><input type="text" class="" name="pid" id="pid"  placeholder=""></td></tr>
			    <tr class="success">
			      <td>入库疫苗明细</td>
			      <td><input type="text" class="" name="pname" id="pname"  placeholder=""></td></tr>
			    <tr class="warning">
			      <td>入库数量</td>
			      <td><input type="text" class="" name="psl" id="psl"  placeholder=""></td></tr>
			    <tr class="danger">
			      <td>入库疫苗金额</td>
			      <td><input type="text" class="" name="pmoney" id="pmoney"  placeholder=""></td></tr>
			    <tr class="active">
			      <td>仓库名称</td>
			      <td><input type="text" class="" name="ppeo" id="ppeo"  placeholder=""></td></tr>
			    <tr class="success">
			      <td>入库类型</td>
			      <td><input type="text" class="" name="ptel" id="ptel"  placeholder=""></td></tr>
			    <tr class="warning">
			      <td>入库时间</td>
			      <td><input type="text" class="" onclick="WdatePicker()" readonly value="1970-01-01" name="pgys" id="pgys"  placeholder="请输入供应商"></td></tr>
			    <tr class="danger">
			      <td>入库操作人</td>
			      <td><input type="text" class="" name="pck" id="pck"  placeholder=""></td></tr>
			    <tr class="active">
			      <td>状态</td>
			      <td><input type="text" class="" name="ptime" id="ptime" placeholder="" ></td></tr>
			    <tr class="success">
			      <td>手机号</td>
			      <td><input type="text" class="" name="pshpeo" id="pshpeo"  placeholder=""></td></tr>			    
			  </tbody>
			</table>
			<!--<img src="/yidong/images/biaoban5.png" style="position: absolute;  top: 80px; left: 21px;">-->
			 <!--<div class="form-group">
			    <label for="firstname" class="col-sm-2 control-label">入库单号:</label>
				  <div class="col-sm-5">
				    <input type="text" class="form-control" name="pid" id="pid"  placeholder="请输入采购单号">
				  </div>
			 </div>
			 <div class="form-group">
				    <label for="firstname" class="col-sm-2 control-label">入库疫苗明细:</label>
				  <div class="col-sm-5">
				    <input type="text" class="form-control" name="pname" id="pname"  placeholder="请输入采购疫苗明细">
				  </div>
			 </div>
			 <div class="form-group">
				    <label for="firstname" class="col-sm-2 control-label">入库数量:</label>
				  <div class="col-sm-5">
				    <input type="text" class="form-control" name="psl" id="psl"  placeholder="请输入采购数量">
				  </div>
			 </div>
			 <div class="form-group">
				    <label for="firstname" class="col-sm-2 control-label">入库疫苗金额 :</label>
				  <div class="col-sm-5">
				    <input type="text" class="form-control" name="pmoney" id="pmoney"  placeholder="请输入采购金额">
				  </div>
			 </div>
			 <div class="form-group">
				    <label for="firstname" class="col-sm-2 control-label">仓库名称:</label>
				  <div class="col-sm-5">
				    <input type="text" class="form-control" name="ppeo" id="ppeo"  placeholder="请输入采购疫苗明细">
				  </div>
			 </div>
			 <div class="form-group">
				    <label for="firstname" class="col-sm-2 control-label">入库类型:</label>
				  <div class="col-sm-5">
				    <input type="text" class="form-control" name="ptel" id="ptel"  placeholder="请输入采购人手机号">
				  </div>
			 </div>
			 <div class="form-group">
				    <label for="firstname" class="col-sm-2 control-label">入库时间:</label>
				  <div class="col-sm-5">
				    <input type="text" class="form-control" onclick="WdatePicker()" readonly value="1970-01-01" name="pgys" id="pgys"  placeholder="请输入供应商">
				  </div>
			 </div>
			 <div class="form-group">
				    <label for="firstname" class="col-sm-2 control-label">入库操作人:</label>
				  <div class="col-sm-5">
				    <input type="text" class="form-control" name="pck" id="pck"  placeholder="请输入仓库名称">
				  </div>
			 </div>
				<div class="form-group">
				  <label for="firstname" class="col-sm-2 control-label">状态:</label>
				  <div class="col-sm-5">
				     <input type="text" class="form-control" name="ptime" id="ptime" 
				        placeholder="请输入采购时间" >
				  </div>
				 </div>	
			 <div class="form-group">
				    <label for="firstname" class="col-sm-2 control-label">手机号:</label>
				  <div class="col-sm-5">
				    <input type="text" class="form-control" name="pshpeo" id="pshpeo"  placeholder="请输入审核操作人">
				  </div>
			 </div>-->
			  <div class="form-group">
				  <div class="col-sm-offset-6 col-sm-3" >
				    <button type="button"  id="sb" onclick="_tj()"  class="btn btn-primary" style="width:78px">提交</button>
				  </div>
			  </div>
		</div>
  </div>
       </form>
  </body>
</html>

<SCRIPT LANGUAGE="JavaScript">
     
   function _tj(){
//            var bootstrapValidator = $('#form1').data('bootstrapValidator'); 
//             bootstrapValidator.validate(); 
//             if(bootstrapValidator.isValid()){ 
                        $('#form1').submit(); 
//             } 
   }
   function yin(){
              $("#yinS").print(/*options*/);
        
   }
   //接值  cid cname csl cmoney cpeo ctel cgys cck ctime cshpeo
   $(document).ready(function(){
        var emps=JSON.parse('<%-JSON.stringify(emps)%>');
		    $("[name=pid]").val(emps[0].pid);
			  $("[name=pname]").val(emps[0].pname);
			  $("[name=psl]").val(emps[0].psl);
			  $("[name=pmoney]").val(emps[0].pmoney);
			  $("[name=ppeo]").val(emps[0].ppeo);
			  $("[name=ptel]").val(emps[0].ptel);
			  $("[name=pgys]").val(emps[0].pgys);
			  $("[name=pck]").val(emps[0].pck);
			  $("[name=ptime]").val(emps[0].ptime);
			  $("[name=pshpeo]").val(emps[0].pshpeo);
	      //bootstrapValidator-begin
//	   $('#form1').bootstrapValidator({
//		        //live: 'disabled',
//					message: 'This value is not valid',
//					feedbackIcons: {
//					    valid: 'glyphicon glyphicon-ok',
//					    invalid: 'glyphicon glyphicon-remove',
//					    validating: 'glyphicon glyphicon-refresh'
//					},
//					fields: {
//						    pname: {
//							validators: {
//							    notEmpty: {
//								message: '姓名为必填项'
//							    }
//							}
//						    }
//					}
//	  	})
//            //bootstrapValidator-end
    }); 

</SCRIPT>
